<?php
$time = microtime();
$time = explode(' ', $time);
$time = $time[1] + $time[0];
$finish = $time;
$total_time = round(($finish - $start), 4);
echo 'Page generated in '.$total_time.' seconds.';
?>
</div>
</body>
<script src="/layout/js/jquery.js"></script>
<script src="/layout/js/bootstrap.min.js"></script>
<script src="/layout/js/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".item").popover({ trigger: "hover", placement : 'top'});
    });
</script>
<script src="/layout/js/under.js"></script>
<script src="/layout/js/bs.min.js"></script>
<script src="/layout/js/sheet.js"></script>
<script src="/layout/js/timeago.js"></script>
<script src="/layout/js/tables.js"></script>
<script src="/layout/js/realm.js"></script>
<script src="/layout/js/characters.js"></script>
<script src="/layout/js/graveyard.js"></script>
<script type="text/javascript">$(function(){initializeSearch("i013WF47B");});initializeLoginButton("i023WF47B");makeSortable("i033WF47B",{0:{"sorter":"digit"},1:{"sorter":false},2:{"sorter":"text"},3:{"sorter":"digit"},4:{"sorter":"text"},5:{"sorter":"digit"},6:{"sorter":"digit"},7:{"sorter":false},8:{"sorter":"text"},9:{"sorter":"text"}});renderNumeric("i033WF47B",1);$(function(){drawCharacters();});$(function(){renderDeadCharacterPopover("i033WF47B");});renderNumeric("i033WF47B",4);renderNumeric("i033WF47B",6);renderNumeric("i033WF47B",7);renderFameBonusesPopover("i033WF47B",7);renderItems("i033WF47B");renderDeadCharacterStats("i033WF47B",9);alignColumnRight("i033WF47B",9);cssForColumn("i033WF47B",10,"white-space","normal");</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.dropdown-toggle').dropdown();
});</script>
</html>